.show {
    display:block;
}

.hide {
    display:none;
}

/* li {
    display: inline-block;
} */

#hero-image{

}

#eat-home-div {
    float:left;
    width:50%;
    margin-top:-45%;
    padding-left:20%;
}

#eat-out-div {
    float:right;
    width:50%;
    margin-top:-45%;
    padding-right:20%;
}

.card-header {
    background-color:#aaf0e5;
    font-weight: bold;
    align-content: center;
    
}

#result-title {
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.card-content {
    font-weight: bold;
    background-color:lightgrey;
}